# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [8]:
num1 = 1
num2 = 1
print(num1 == num2)
num1 is num2

True

True

числа від -5 до 256 посилаються на одну комірку в пам'яті, тобто мають однаковий індекс, бо вони часто використовуються в коді.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [10]:
print(isinstance(True, bool))
isinstance(True, int)

True

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [4]:
num1 = 2
num2 = 0.5
print(num1+num2)
print(num1-num2)
print(num2-num1)
print(num1/num2)
print(num2/num1)
print(num1*num2)
print(num1//num2)
print(num2//num1)
print(num1%num2)
print(num2%num1)
print(num1**num2)
print(num2**num1)

2.5
1.5
-1.5
4.0
0.25
1.0
4.0
0.0
0.0
0.5
1.4142135623730951
0.25

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [11]:

print(int(num2))
numBool = True
int(numBool)

1

1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [15]:
str1 = ""
print(str1)
str2 = "".format()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [25]:
str1 = "рядок з апострофом \'"
print(str1)
str2 = r"сирий рядок з апострофом \'"
print(str2)

рядок з апострофом '
сирий рядок з апострофом \'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [28]:
surname = "Medovshchuk"
format_surname = f"My surname is {surname}"
print(format_surname)

My surname is Medovshchuk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [30]:
str1 =  "My dog is crazy."
str2 = str1[:-1]
list1 = str2.lower().split()
print(list1)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [34]:
list1 = [1, 2, 3]
list2 = list("1 2 3")
print(len(list2))

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [35]:
list1 = [1, 2, 3]
list2 = list("1 2 3")
list1.append(list2)
print(list1)

[1, 2, 3, ['1', ' ', '2', ' ', '3']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [36]:
list1 = [[1, 2, 3], [4, 5, 6], [7, 8 , 9]]
print(list1[-1][0])

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [38]:
list1 = [1, 1.0, "word", [1, 1],  True, (8, 9), None, {1, 2}, {'Ukraine': 'Kyiv', 'Spain': 'Madrid'}, 2+4j]
list2 = list1[2:-2]
print(list2)

['word', [1, 1], True, (8, 9), None, {1, 2}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
tuple1 = (1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

списки можна змінювати, кортежі не можна. І спики, і кортеж проіндексовані, тому можемо добиратись як до одного елементу, так і робити зрізи.Два типи можуть містити різні типи даних

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [40]:
list1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3,0.9)
print(list1[-1], list1[-3], list1[-5], list1[-7], list1[-9], list1[-11])

0.9 9.3 7.3 5.3 3.3 1.2

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [42]:
set1 = set()
set1.add(1)
set1.add(2)
set1.add("apple")
print(set1)

{1, 2, 'apple'}

так, множини є змінним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [43]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set1 = set(my_list)
print(set1)

{1, 2, 67, 8, 9}

тому що множини не можуть містити дублі

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [45]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1.union(set2))
print(set1.difference(set2))
print(set1.intersection(set2))
print(set1.union(set2))
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [48]:
dict1 = {}
dict1[1] = 1
dict1["2"] = 2
dict1[3.0] = 3
dict1[(1, 2)] = 4
print(dict1)

{1: 1, '2': 2, 3.0: 3, (1, 2): 4}

Не може, тому що ключ повинен бути незмінним

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [49]:
dict1 = {
    'key1': {
        'key2': {
            'key3': 'value'
        }
    }
}
value = dict1['key1']['key2']['key3']
print(value)

value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.